image: maven:latest

build:
  script:
    - mvn versions:set -DnewVersion=${CI_PIPELINE_SOURCE}-${CI_PIPELINE_IID} -DgenerateBackupPoms=false
    - mvn clean install
  artifacts:
    paths:
      - target/Firecord*.jar